# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 89189b1cb9a8fb73517b3df52644b7acce8b00a2a478bd660fdd83a5507856a885edd19b9149ba983572331a1643219f75c9bc56172f480a99a80d08ce707765

test:
  secret_key_base: c4627663242d68b13f4e4f0a054a4da13cdbbcc871ddcd48c112ed51a1f56bf9e29f2320e221d44e7e8aec9e85f644a0a4f2a779685a71c2afab93aaa557da24

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
