.container[data-userlatitude="#{@usr_location_coord[:lat]}" data-userlongitude="#{@usr_location_coord[:long]}"]

  h1 id="wel" class="head" Plan Your Dream Music Festival

  div id="upcoming_festivals"

    =render "festival"