/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require soulmate
 *= require modal
 *= require_self
 *= require bus
 */

.pure-g [class *="pure-u"], body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

a {
  color: #F56C57;
  font-weight: bold;
}


/* FESTIVAL COMPARISON MODAL */
.modal {
  width: 80%;
  top: 3%;
  left: 33%;
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: none;
}

.modal.fade.in { position: fixed; }

table {
  text-align: center;
}
tbody { 
  border: 1px solid #b8d20b;
}

thead { 
  background: #b8d20b; 
  color: #fff;

}

tr, td, th {
  margin: 5px;
  padding: 5px;
}

/* BUTTONS */
i { margin-right: 3px; }

.remove-btn, 
.remove-fave,
.fave-btn,
.close-btn,
.refresh-grid {
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding:5px;
}

.close-btn,
.refresh-grid { 
  float: right; 
  margin: auto 5px;
}

.refresh-grid { 
  background: #b8d20b;
  border: 1px solid #b8d20b;
}

.remove-btn,
.remove-fave,
.close-btn {
  border: 1px solid #ff6655;
  background: #ff6655;
}

.ui-datepicker { 
  background: #fff;
  font-family: 'Lora', serif;
  opacity: 0.9;
}

.ui-datepicker a { 
  text-decoration: none;
  color: salmon;
}

.ui-datepicker-next,
.ui-datepicker-prev {
  cursor: pointer;
  padding: 10px;
}

#wel {
  /*position: fixed;*/
  background-color: #F77604;
  background-size: cover;
  color: white;
  height: 60px;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: lighter;
  /*margin-left: 20px;*/
  letter-spacing: 6px;
  margin-top: -10px;
  opacity: 0.75;
  padding: 100px;
  padding-bottom: 120px;
  text-align: center;
  /*width: 130%;*/
}

.pan_button {
  background: lightblue;
  display: inline-block;
  font-size: 125%;
  margin-bottom: 30px;
  margin-left: 50%;
  margin-top: 10px;
  position: relative;
}

.map_button {
  background: lightblue;
  clear: left;
  display: inline-block;
  font-size: 125%;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 10px;
  position: relative;
}


.search-results {
  /*font-weight: lighter;*/
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-top: 30px;
  text-align: justify;
}

#results_container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333333;
  display: inline-block;
  float: left;
  height: 750px;
  margin-bottom: 100px;
  margin-left: 30px;
  /*margin-top: 120px;*/
  margin-right: 30px;
  /*max-width: 700px;
  overflow: hidden;*/
  overflow-y: scroll;
  position: relative;
  width: 650px;
  /*z-index: -1;*/
}

/* #home*/ #map {
  box-shadow: 1px 1px 5px #333333;
  border-radius: 8px;
  display: inline-block;
  height: 750px;
  /*margin-top: 120px;*/
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 80px;
  /*overflow: hidden;*/
  /*position: relative;*/
  width: 650px;
  /*margin-top: 50px;*/
  /*position: absolute;
  margin-top: 40px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;*/
 /* float: right;*/
  /*border-radius: 20px;*/
  /*margin-left: 50%;*/
  /*margin-top: 30px;*/
}

/*==== Cards: ====*/

#fest_results {
  background-color: #B8D20B;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333333;
  display: inline-block;
  font-size: 20px;
  /*margin-left: 30px;*/
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 47px;
  opacity: 0.9;
 /* overflow: hidden;*/
  padding-left: 20px;
  padding-right: 200px;
  width: 430px;
  /*margin-top: 120px;*/ 
}

#fest_locations {
  /*display: inline-block;*/
  background-color: #B8D20B;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333333;
  display: inline-block;
  float: right;
  font-size: 20px;
  /*margin-right: px;*/
  margin-left: 20px;
  opacity: 0.9;
  /*overflow: hidden;*/
  padding-left: 20px;
  position: absolute;
  width: 633px;
  /*margin-right: 610px;*/
}

/*.pure-u-1-2 {
  overflow: hidden;
}*/

.festival-result {
  margin: 20px;
  margin-bottom: 50px;
  /*padding: 10px;*/
}

.main_links {
  color: #F56C57;
  font-size: 25px;
  margin-left: 20px;
}

.festival_card {
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333333;
  height: 300px;
  /*background-color: #ffe6e6;*/
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  /*padding-top: 140px;*/
  padding-bottom: 10px;
  /*padding-left: 50px;*/
  /*padding-right: 100px;*/
  /*margin-bottom: 5px;
  margin-top: 5px;*/
}

.festival_card_header {
  /*box-shadow: 1px 1px 5px #333333;*/
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  float: top;
  /*float: right;*/
  height: 60%;
 /* margin-bottom: 50px;*/
  opacity: 0.75;
  width: 100%;
  /*z-index: -1;*/
}

.festival_card_body {
  margin-top: 35%;
}

.image1 {
  background-image: url('/festival1.jpg');
}

.image2 {
  background-image: url('/festival2.jpg');
}

.image3 {
  background-image: url('/festival3.jpg');
}

.image4 {
  background-image: url('/festival4.jpg');
}

.image5 {
  background-image: url('/festival5.jpeg');
}

.image6 {
  background-image: url('/festival6.jpg');
}

.image7 {
  background-image: url('/festival7.jpg');
}

.image8 {
  background-image: url('/festival8.jpg');
}

.image9 {
  background-image: url('/festival9.jpg');
}

.image10 {
  background-image: url('/festival10.jpg');
}

/*#button {
  position: relative;
  float: top;
  margin-bottom: 50px;
}*/

.festival_name {
  position: absolute;
  color: #F77604;
  float: bottom;
  font-family: Verdana;
  font-size: 20px;
  /*font-size: 2.5vw; */
  font-weight: bold;
  margin-top: 30px;
  margin-left: 15px;
  /*overflow-x: scroll;*/
 /* overflow: auto;*/
  padding-top: 160px;
}

.festival_location {
  position: absolute;
  font-family: Verdana;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
  padding-top: 205px;
}

.festival_date {
  position: absolute;
  font-family: Verdana;
  font-weight: bold;
  padding-top: 230px;
  margin-left: 15px;
  margin-top: 20px;
}

/*#location {
  margin-left: 50%;
}
#date {
  margin-left: 50%;
}
#camping {
  margin-left: 50%;
}
#artist {
  margin-left: 50%;
}
#genre {
  margin-left: 50%;
}
#search {
  margin-left: 50%;
}*/
/*#button {
  position: relative;
  float: top;
  margin-bottom: 50px;
}*/

#upcoming_festivals .festival_card {
  display: inline-block;
 /* overflow-x: scroll;*/
  width: 30%;
}

#upcoming_festivals .festival_name {
  font-size: 1.3em;
}

.festival_card:hover {
  box-shadow: 3px 5px 15px #333333;
  transition: box-shadow 0.3s ease-in-out;
}

#flight-search-form {
  display: none;
}

.bus-schedule-header {
  border:5px solid black;
  width:100px;
}

#bus-depart ul, #bus-return ul {
  background-color:lightblue;
  color:black;
}

#bus-depart div {
  width:100px;
}

#bus-depart, #bus-return {
  /*background-color:lightblue;
  color:black;*/
}

#bus th, #bus td {
  width: 85px;
}

#bus h3 {
  margin-bottom: 8px;
}

#bus tr:nth-child(odd) {
  background-color:lightgray;
}

#bus {
  overflow: auto;
}
