/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {        
  margin: 0;
  padding: 0;
}

/*.pure-g [class *="pure-u"], body {
  font-family: 'Raleway', sans-serif;
  color: #333333
}*/

body {
  min-width: 320px;
}

.wrapper-container {
  font-family: 'Raleway', sans-serif;
  color: #333333
}

.container {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

a {
  color: #F56C57;
  font-weight: bold;
}

a:hover {
  color: #B8D20B
}

/* FESTIVAL COMPARISON MODAL */
.modal {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: none;
  width: 80%;
}

#locationModal { top: 10%; }

.modal-body { 
  text-align: center;
  clear: both;
}

.modal.fade.in { position: fixed; }

table {
  text-align: center;
}
tbody { 
  border: 1px solid #b8d20b;
}

thead { 
  background: #b8d20b; 
  color: #fff;

}

tr, td, th {
  margin: 5px;
  padding: 5px;
}

/* BUTTONS */
i { margin-right: 3px; }

.remove-btn, 
.remove-fave,
.fave-btn,
.close-btn,
.refresh-grid {
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

.close-btn,
.refresh-grid { 
  float: right; 
  margin: auto 5px;
}

.refresh-grid { 
  background: #b8d20b;
  border: 1px solid #b8d20b;
}

.remove-btn,
.remove-fave,
.close-btn {
  border: 1px solid #ff6655;
  background: #ff6655;
}

.ui-datepicker { 
  background: #fff;
  font-family: 'Lora', serif;
  opacity: 0.9;
}

.ui-datepicker a { 
  text-decoration: none;
  color: salmon;
}

.ui-datepicker-next,
.ui-datepicker-prev {
  cursor: pointer;
  padding: 10px;
}

#wel {
  background-color: #F77604;
  background-size: cover;
  margin-top: 0;
  opacity: 0.75;
  padding: 70px 30px;
  text-align: center;
}

.head {
  color: white;
  font-family: 'Boogaloo', cursive;
  font-size: 4em;
  font-weight: lighter;
  letter-spacing: 6px;
}

.pan_button {
  background: lightblue;
  display: inline-block;
  font-size: 125%;
  margin-bottom: 30px;
  margin-left: 50%;
  margin-top: 10px;
  position: relative;
}

.map_button {
  background: lightblue;
  clear: left;
  display: inline-block;
  font-size: 125%;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 10px;
  position: relative;
}


.search-results {
  text-align: center;
  margin: 20px 0;
}

.search-results .festival-card{
  width: 90%;
}

/*.results_container {
  display: inline-block;
  text-align: center;
}*/

.results-list {
  overflow: auto;
  height: 750px;
}

#map {
  display: inline-block;
  height: 750px;
  width: 80%;
  margin: 0 20px;
}

.fest_locations {
  display: inline-block;
  text-align: center;
}

.fest_locations h3 {
  margin-left: 20px;
}

/*==== Cards: ====*/

.festival-result {
  margin: 20px;
  margin-bottom: 50px;
}

.festival_name {
  font-size: 1.8rem;
  font-family: 'Noto Serif', serif;
  margin-top: 10px;
}

.festival_card {
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333333;
  height: 350px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.festival_card_header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  float: top;
  height: 60%;
  opacity: 0.75;
  width: 100%;
}

.festival_card_body {
  clear:both;
  overflow: hidden;
  text-align: left;
  margin-left: 10px;
}

.festival_card_body p {
  margin-bottom: 1rem;
}
.image1 {
  background-image: url('/festival1.jpg');
}

.image2 {
  background-image: url('/festival2.jpg');
}

.image3 {
  background-image: url('/festival3.jpg');
}

.image4 {
  background-image: url('/festival4.jpg');
}

.image5 {
  background-image: url('/festival5.jpeg');
}

.image6 {
  background-image: url('/festival6.jpg');
}

.image7 {
  background-image: url('/festival7.jpg');
}

.image8 {
  background-image: url('/festival8.jpg');
}

.image9 {
  background-image: url('/festival9.jpg');
}

.image10 {
  background-image: url('/festival10.jpg');
}

.image11 {
  background-image: url('/festival11.jpg');
}

.image12 {
  background-image: url('/festival12.jpg');
}

.image13 {
  background-image: url('/festival13.jpg');
}

.image14 {
  background-image: url('/festival14.jpg');
}

.image15 {
  background-image: url('/festival15.jpg');
}

.image16 {
  background-image: url('/festival16.jpg');
}

.image17 {
  background-image: url('/festival17.jpg');
}

.image18 {
  background-image: url('/festival18.jpg');
}

.image19 {
  background-image: url('/festival19.jpg');
}

.image20 {
  background-image: url('/festival20.jpg');
}

#upcoming_festivals {
  margin: 10px auto;
  text-align: center;
  padding: 0 20px;
}

#upcoming_festivals h1 {
  margin: 30px 0;
  font-size: 3.0rem;
}

.festival_card {
  display: inline-block;
  width: 300px;
}


.festival_card:hover {
  box-shadow: 3px 5px 15px #333333;
  transition: box-shadow 0.3s ease-in-out;
}

#footer {
  padding: 20px 10px;
  background-color: #231b12;
  font-size: 16px;
  color: #eeeeee;
  text-align: center;
}

.center {
  text-align: center;
}

/* Modals */

.modal-header {
  margin-top: 10px;
}

.modal-header h1 {
  font-size: 3.0rem;
}

.modal button:hover {
  border: none;
}

.modal a {
  text-decoration: none;
}

.modal {
  margin: 0 10%;
  left: 0;
}