/* Nav */

.pure-menu {
  padding: 20px 10px;
  background-color: #231b12;
  font-size: 20px;
}

#nav {
  width: 100%;
}

#nav .pure-menu-link:hover {
  background: none;
}

.pure-menu-link:hover, .pure-menu-link:focus, .pure-menu-link:active {
  background: none;
  border-bottom: 3px solid #F77604;
}

#usr_location {
    color: #eee;
}

.pure-menu, .pure-menu-heading, .pure-menu-item a {
  color: #eee;
}

.input-locked {
  border: none;
  background: none;
  color: #eee;
  width: 150px;
}

.input-active {
  border:none;
  background: none;
  color: #eee;
  width: 150px;
}

input:focus {
  outline:none;
  border-bottom: 1px solid #eee;
}

#edit_location {
  background: #F77604;
  border-radius: 10%;
  padding: 5px;
  border: none;
}

#edit_location:hover {
  background: #B8D20B;
  box-shadow: 3px 5px 5px #aaaaaa;
  transition: all 0.3s ease-in-out;
}

#festival-search-form {
  display:none;
  padding: 20px 40px;
  background-color: #F56C57;
  border-bottom: 4px solid #231B12;
}

#festival-search-form .pure-g {
  padding:10px;
}

#festival-search-form input {
  margin-top: 10px;
}

#festival-search-form select {
  margin-top: 10px;
}
#festival-search-form  #submit-search {
  background-color: #231B12;
  border-radius: 10px; 
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
}


#festival-search-form #submit-search:hover {
  background: #B8D20B;
  box-shadow: 3px 3px 3px #eee;
  transition: all 0.3s ease-in-out:
}

#festival-search-form .pure-button:hover{
  background-color: #B8D20B;
  border-radius: 10px;
}

#festival-search-form label {
  font-weight: bold;
  color: #231B12;
}


.nav {
  text-align: right;
}

.pure-menu-item {
  padding: 10px 15px;
}

#logo {
 font-family: 'Boogaloo', cursive;
 font-size: 26px;
}

#logo .pure-menu-link a:hover {
  text-decoration:none;
  font-size: 28px;
}

#logo:hover a {
  font-size: 30px;
  color: #F56C57;
  transition: all 0.3s ease-in-out;
}

#festival-search-form .pure-1-3 {
  padding: 20px;
}

.search-form {
  padding:none;
}